<div class="c14 doc-content mx-auto h-full overflow-auto max-w-5xl">
  <p class="c10 c5"><span class="c13"></span></p>
  <p class="c10"><span class="c16">Introduction</span></p>
  <p class="c10 c5"><span class="c1"></span></p>
  <p class="c10">
    <span class="c1">
      This WEBSITE SERVICE AGREEMENT TERMS OF USE (&ldquo;Agreement&rdquo;) is made effective as of November 1, 2023.
    </span>
  </p>
  <p class="c10"><span class="c1">&nbsp;</span></p>
  <p class="c10">
    <span class="c8">By accessing CertifyndABA (&ldquo;Website&rdquo;), operating under the direct control of</span>
    <span class="c7">CertifyndABA</span>
    <span class="c1">
      &nbsp;(&ldquo;Company&rdquo;), the user hereby acknowledges and agrees to the terms of use of the Website.
    </span>
  </p>
  <p class="c10"><span class="c1">&nbsp;</span></p>
  <p class="c10 c5"><span class="c1"></span></p>
  <p class="c10 c5"><span class="c1"></span></p>
  <p class="c10"><span class="c16">Terms</span></p>
  <p class="c10"><span class="c1">&nbsp;</span></p>
  <ul class="c2 lst-kix_list_34-0 start">
    <li class="c9 li-bullet-0"><span class="c7">SERVICE</span></li>
  </ul>
  <p class="c6">
    <span class="c7"><br /></span>
    <span class="c1">
      The Website is a platform community to bring together Employers & Individuals within Applied Behavioral Analysis
      (ABA). The Company shall use its reasonable efforts to assist Employers & Individuals in regards to communications
      and support.
    </span>
  </p>

  <ul class="c2 lst-kix_list_36-0 start">
    <li class="c9 li-bullet-0"><span class="c7">USE OF THE WEBSITE</span></li>
  </ul>
  <p class="c6">
    <span class="c7"><br /></span>
    <span class="c1">
      The user understands the safe and ethical nature of the Website and shall not engage in any illegal activities
      that may directly or indirectly affect the Company, its users, and the community. The user shall observe decency
      in all their dealings and activities within the Website.
    </span>
  </p>
  <p class="c4"><span class="c1">&nbsp;</span></p>
  <p class="c4 c5"><span class="c1"></span></p>
  <ul class="c2 lst-kix_list_37-0 start">
    <li class="c9 li-bullet-0"><span class="c7">WEBSITE LIMITATIONS AND MODIFICATIONS</span></li>
  </ul>
  <p class="c6 c5"><span class="c1"></span></p>
  <p class="c4">
    <span class="c1">
      &nbsp; &nbsp; &nbsp;The Company reserves the right to modify, update, or improve the Website at any time, with or
      without notifying the user beforehand. This modification may result in the Website&rsquo;s temporary downtime and
      the permanent deletion of certain Website features.
    </span>
  </p>
  <p class="c4"><span class="c1">&nbsp;</span></p>
  <p class="c4 c5"><span class="c1"></span></p>
  <ul class="c2 lst-kix_list_37-0">
    <li class="c9 li-bullet-0"><span class="c7">LIABILITY</span></li>
  </ul>
  <p class="c6 c5"><span class="c1"></span></p>
  <p class="c4">
    <span class="c1">
      &nbsp; &nbsp; &nbsp;The user shall be accountable for any and all of its actions, publications, and statements
      made within the Website. The Company shall not be liable for any loss, damage, injury, or death resulting from the
      user&rsquo;s activities in the Website.
    </span>
  </p>
  <p class="c4 c5"><span class="c1"></span></p>
  <p class="c4 c5"><span class="c1"></span></p>
  <ul class="c2 lst-kix_list_38-0 start">
    <li class="c9 li-bullet-0"><span class="c7">SUSPENSION AND TERMINATION</span></li>
  </ul>
  <p class="c6">
    <span class="c7"><br /></span>
    <span class="c1">
      The Company has the authority to delete any user content that violates the terms of this Agreement or any
      corresponding policies set forth by the Company. Moreover, the Company may suspend the user for thirty (30) days
      or terminate the user from the Website indefinitely.
    </span>
  </p>
  <p class="c4"><span class="c1">&nbsp;</span></p>
  <p class="c4 c5"><span class="c1"></span></p>
  <ul class="c2 lst-kix_list_39-0 start">
    <li class="c9 li-bullet-0"><span class="c7">AMENDMENTS</span></li>
  </ul>
  <p class="c6">
    <span class="c7"><br /></span>
    <span class="c1">
      The Company reserves the right to amend or modify any of the terms and conditions stipulated in this Agreement,
      provided that the Company notifies the user of this amendment or modification immediately after its
      implementation.
    </span>
  </p>
  <p class="c5 c12"><span class="c1"></span></p>
</div>
