<div class="py-8 sm:pt-24 sm:pb-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        Pricing plans for teams of&nbsp;all&nbsp;sizes
      </p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">
      Choose an affordable plan that’s packed with the best number of connection requests to fill your vacancies with
      the best talents in ABA therapy.
    </p>

    <div
      class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 md:max-w-2xl md:grid-cols-2 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-4"
    >
      <div
        *ngFor="let plan of companyPlans"
        class="rounded-3xl p-8 ring-1 ring-gray-200"
        [ngClass]="{ 'ring-2 ring-blue-500': plan.id === value }"
      >
        <h3
          id="tier-hobby"
          class="text-lg font-semibold leading-8 text-gray-900"
        >
          {{ plan.name }}
        </h3>
        <p class="mt-4 text-sm leading-6 text-gray-600">{{ plan.description }}</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">${{ plan.price }}</span>
          <!-- Payment frequency, update based on frequency toggle state -->
          <span class="text-sm font-semibold leading-6 text-gray-600">/month</span>
        </p>

        <button
          attr.aria-describedby="plan-{{ plan.id }}"
          class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 text-blue-600 ring-1 ring-inset ring-blue-200 hover:ring-blue-300"
          [ngClass]="{ 'text-white bg-blue-600 ring-blue-700 hover:ring-blue-800': plan.id === value }"
          (click)="selectPlan(plan.id)"
        >
          {{ plan.id === value ? 'Plan Selected' : 'Select Plan' }}
        </button>

        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600"
        >
          <li
            *ngFor="let bullet of plan.bullets"
            class="flex gap-x-3"
          >
            <svg
              class="h-6 w-5 flex-none text-blue-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            {{ bullet }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
