<div class="bg-white">
  <main class="isolate">
    <!-- Hero section -->
    <div class="relative isolate -z-10 overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-6">
      <div
        class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96"
        aria-hidden="true"
      ></div>
      <div class="mx-auto max-w-7xl px-6 py-6 sm:py-12 md:py-32 lg:px-8">
        <div
          class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8"
        >
          <h1
            class="max-w-2xl text-2xl font-bold tracking-tight text-indigo-600 sm:text-5xl lg:col-span-2 xl:col-auto mt-8"
          >
            Our Story
          </h1>
          <div class="mt-4 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
            <p class="text-lg leading-8 text-gray-600">
              We have extensive experience in connecting Individuals &amp; Employers in the ABA space. Having spoken to
              thousands of professionals in ABA over the past decade, the need to protect the individual’s
              confidentiality and time became the imperative when developing this community. Individuals want to be
              aware of what’s happening in their industry and at the same time be able to choose where they engage. In
              addition, due to the overwhelming shortage of individuals in ABA, we knew that a brighter light needed to
              be shined on it pointing people to it as a career option. Finally, employers are looking for an efficient
              and cost-effective solution to connect with ABA professionals. CertifyndABA empowers individuals to
              connect with confidence allowing you to be in control of your career.
            </p>
          </div>
          <img
            src="https://images.unsplash.com/photo-1579208570378-8c970854bc23?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1522&q=80"
            alt=""
            class="mt-4 aspect-[6/5] w-full max-w-lg rounded-2xl object-cover object-left sm:mt-16 lg:mt-10 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-16"
          />
        </div>
      </div>
      <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
    </div>

    <!-- Timeline section -->
    <div class="mx-auto mt-4 max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="flex flex-row flex-wrap justify-center">
          <button
            mat-raised-button
            routerLink="/individuals"
            color="primary"
            class="!h-20 !text-lg !rounded-lg w-full !bg-indigo-600 !hover:bg-indigo-400"
          >
            Find your next JOB
          </button>
          <a
            href="#"
            class="text-sm text-center font-thin leading-6 mt-2 text-indigo-600 w-full"
            routerLink="/individuals"
          >
            Learn more
            <span aria-hidden="true">→</span>
          </a>
        </div>

        <div class="flex flex-row flex-wrap justify-center">
          <button
            mat-raised-button
            routerLink="/employers"
            color="primary"
            class="!h-20 !text-lg !rounded-lg w-full !bg-purple-700 !hover:bg-purple-400"
          >
            Find your next HIRE
          </button>
          <a
            routerLink="/employers"
            class="text-sm text-center font-thin leading-6 mt-2 text-purple-700 w-full"
          >
            Learn more
            <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Stats -->
    <app-misson></app-misson>

    <!-- Content section -->
    <div class="mt-26 overflow-hidden sm:mt-40">
      <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8"
        >
          <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Mission</h2>
            <p class="mt-6 text-xl leading-8 text-gray-600">
              Our mission at CertifyndABA is to bring visibility to this community and simplify how clinics and
              individuals connect with each other to serve those in need.
            </p>
            <p class="mt-6 text-base leading-7 text-gray-600">
              As we strive to revolutionize the way professionals and organizations connect, our mission goes beyond
              facilitating career opportunities. We aim to create a supportive community that empowers individuals to
              continuously develop their skills, expand their knowledge, and stay current with industry trends. By
              offering resources, insights, and a platform for collaboration, we are dedicated to fostering the
              professional growth of our users and contributing to the overall advancement of their respective fields.
              In doing so, we hope to inspire a new generation of talent and drive meaningful change within the
              industry.
            </p>
          </div>
          <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
            <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
              <img
                src="/assets/images/landing-hero-2.jpg"
                alt=""
                class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover"
              />
            </div>
            <div
              class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8"
            >
              <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                <img
                  src="/assets/images/landing-hero-3.jpg"
                  alt=""
                  class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"
                />
              </div>
              <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                <img
                  src="/assets/images/landing-hero-7.jpg"
                  alt=""
                  class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"
                />
              </div>
              <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                <img
                  src="/assets/images/landing-hero-8.jpg"
                  alt=""
                  class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Values section -->
    <app-ourvalues></app-ourvalues>
  </main>
</div>
