<div class="flex min-h-full h-full flex-col justify-center py-4 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <mat-card>
      <mat-card-content>
        <div
          *ngIf="emailLinkSent; else login"
          class="flex flex-row flex-wrap justify-center items-center h-56 w-full"
        >
          <h2 class="font-semibold text-2xl text-emerald-300">Your login link has been emailed to:</h2>
          <h3 class="font-normal text-xl text-emerald-300 w-full text-center">{{ emailCtrl?.value }}</h3>
          <p>Check your email to login and continue</p>
        </div>

        <ng-template #login>
          <ng-container *ngIf="!emailMissing">
            <h2 class="mb-4 text-center text-2xl font-normal tracking-tight text-emerald-300">
              {{ redirect || isDialog ? 'You must be logged in to continue' : 'Welcome to Packaddx' }}
            </h2>
            <div class="mt-6 flex flex-row flex-wrap justify-center items-center">
              <app-google-auth-button
                authType="Login"
                [isDialog]="isDialog"
                (closeDialog)="dialogRef?.close()"
              ></app-google-auth-button>
              <app-facebook-auth-button
                authType="Login"
                [isDialog]="isDialog"
                (closeDialog)="dialogRef?.close()"
              ></app-facebook-auth-button>
            </div>

            <div class="relative mt-6">
              <div
                class="absolute inset-0 flex items-center"
                aria-hidden="true"
              >
                <div class="w-full border-t border-white"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="bg-[var(--mdc-elevated-card-container-color)] px-2 text-white">Or</span>
              </div>
            </div>
          </ng-container>

          <div class="mt-6">
            <form [formGroup]="emailLoginForm">
              <mat-form-field
                class="w-full"
                color="accent"
              >
                <mat-label for="email">
                  {{ emailMissing ? 'Confirm The Login ' : '' }}
                  Email address
                </mat-label>
                <input
                  matInput
                  id="email"
                  name="email"
                  title="name"
                  type="email"
                  autocomplete="email"
                  formControlName="email"
                  required
                />
                <mat-error *ngIf="emailCtrl?.hasError('email') && !emailCtrl?.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailCtrl?.hasError('required')">
                  Email is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <div class="flex items-center justify-between -mt-2 mb-4">
                <div class="flex items-center">
                  <mat-checkbox
                    formControlName="rememberMe"
                    color="accent"
                  >
                    Remember Me
                  </mat-checkbox>
                </div>
              </div>

              <div>
                <button
                  *ngIf="emailMissing; else getLinkButton"
                  type="submit"
                  class="w-full"
                  mat-raised-button
                  color="primary"
                  (click)="signInWithEmailLink(emailCtrl?.value)"
                >
                  Complete Sign in
                </button>
                <ng-template #getLinkButton>
                  <button
                    type="submit"
                    class="w-full"
                    mat-raised-button
                    color="primary"
                    (click)="getEmailLink()"
                  >
                    Send Login Link
                  </button>
                </ng-template>
              </div>
            </form>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
