<div
  id="sign-up"
  class="min-h-full flex"
>
  <div class="flex-1 flex flex-row justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-6 xl:px-12 w-7/12">
    <div class="w-full max-w-3xl lg:max-w-2xl">
      <div
        *ngIf="showLogo"
        class="min-w text-center"
      >
        <h1 class="text-7xl font-semibold text-blue-600">
          Certifynd
          <span class="font-bold text-purple-700 -ml-4">ABA</span>
        </h1>
      </div>

      <div class="mt-8 w-full">
        <div class="relative flex flex-wrap justify-center text-xl text-center">
          <span class="p-6 bg-purple-700 rounded text-white">
            Stop wasting time trying to find quality Therapists for your Clinics
            <br />
            Join today, and get access to the best ABA Therapy talent instantly
          </span>
        </div>

        <div class="mt-6">
          <form
            *ngIf="!signedUp"
            [formGroup]="signupForm"
            class="mt-16"
          >
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-4">
              <div class="col-span-full">
                <label
                  for="company-name"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Company Name
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="companyName"
                    type="text"
                    name="company-name"
                    id="company-name"
                    autocomplete="given-name"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('companyName')?.dirty && errors['companyName'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('companyName')?.dirty"
                  [errors]="errors['companyName']"
                ></app-input-error>
              </div>
              <div class="col-span-full">
                <label
                  for="street-address"
                  class="block text-sm font-medium leading-6 text-gray-900"
                >
                  Street Address
                </label>
                <div class="mt-2">
                  <input
                    formControlName="address1"
                    type="text"
                    name="street-address"
                    id="street-address"
                    autocomplete="street-address"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('address1')?.dirty && errors['address1'].length"
                  />
                  <app-input-error
                    *ngIf="signupForm.get('address1')?.dirty"
                    [errors]="errors['address1']"
                  ></app-input-error>
                </div>

                <div class="mt-2">
                  <input
                    formControlName="address2"
                    type="text"
                    name="street-address2"
                    id="street-address2"
                    autocomplete="street-address"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('address2')?.dirty && errors['address2'].length"
                  />
                  <app-input-error
                    *ngIf="signupForm.get('address2')?.dirty"
                    [errors]="errors['address2']"
                  ></app-input-error>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label
                  for="city"
                  class="block text-sm font-medium leading-6 text-gray-900"
                >
                  City
                </label>
                <div class="mt-2">
                  <input
                    formControlName="city"
                    type="text"
                    name="city"
                    id="city"
                    autocomplete="address-level2"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('city')?.dirty && errors['city'].length"
                  />
                  <app-input-error
                    *ngIf="signupForm.get('city')?.dirty"
                    [errors]="errors['city']"
                  ></app-input-error>
                </div>
              </div>

              <div>
                <label
                  for="region"
                  class="block text-sm font-medium leading-6 text-gray-900"
                >
                  State / Province
                </label>
                <div class="mt-2">
                  <select
                    formControlName="state"
                    id="state"
                    name="state"
                    autocomplete="address-level1"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('state')?.dirty && errors['state'].length"
                  >
                    <option
                      *ngFor="let state of states"
                      [value]="state"
                    >
                      {{ state }}
                    </option>
                  </select>
                  <app-input-error
                    *ngIf="signupForm.get('state')?.dirty"
                    [errors]="errors['state']"
                  ></app-input-error>
                </div>
              </div>

              <div>
                <label
                  for="postal-code"
                  class="block text-sm font-medium leading-6 text-gray-900"
                >
                  ZIP / Postal code
                </label>
                <div class="mt-2">
                  <input
                    formControlName="zip"
                    type="text"
                    name="postal-code"
                    id="postal-code"
                    autocomplete="postal-code"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('zip')?.dirty && errors['zip'].length"
                  />
                  <app-input-error
                    *ngIf="signupForm.get('zip')?.dirty"
                    [errors]="errors['zip']"
                  ></app-input-error>
                </div>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="first-name"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  First Name
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="firstName"
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('firstName')?.dirty && errors['firstName'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('firstName')?.dirty"
                  [errors]="errors['firstName']"
                ></app-input-error>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="last-name"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Last Name
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="lastName"
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('lastName')?.dirty && errors['lastName'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('lastName')?.dirty"
                  [errors]="errors['lastName']"
                ></app-input-error>
              </div>
              <div class="col-span-full">
                <label
                  for="position"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Title/Position
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="position"
                    type="text"
                    name="position"
                    id="position"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('position')?.dirty && errors['position'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('position')?.dirty"
                  [errors]="errors['position']"
                ></app-input-error>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="email"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Email Address
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="email"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('email')?.dirty && errors['email'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('email')?.dirty"
                  [errors]="errors['email']"
                ></app-input-error>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="phone"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Phone Number
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="phone"
                    type="tel"
                    name="phone"
                    id="phone"
                    autocomplete="tel"
                    aria-describedby="phone-description"
                    placeholder="+1 (555) 555-5555"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('phone')?.dirty && errors['phone'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('phone')?.dirty"
                  [errors]="errors['phone']"
                ></app-input-error>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="password"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Password
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="password"
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="password"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('password')?.dirty && errors['password'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('password')?.dirty"
                  [errors]="errors['password']"
                ></app-input-error>
                <p
                  *ngIf="passwordMismatch"
                  class="error"
                >
                  <svg
                    class="w-5 text-red-500 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {{ errorMessages?.passwordMismatch }}
                </p>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="confirmPassword"
                  class="block text-sm font-semibold leading-6 text-gray-900"
                >
                  Confirm Password
                </label>
                <div class="mt-2.5">
                  <input
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    name="confirmPassword"
                    type="password"
                    autocomplete="password"
                    class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                    [class.invalid]="signupForm.get('confirmPassword')?.dirty && errors['confirmPassword'].length"
                  />
                </div>
                <app-input-error
                  *ngIf="signupForm.get('confirmPassword')?.dirty"
                  [errors]="errors['confirmPassword']"
                ></app-input-error>
                <p
                  *ngIf="passwordMismatch"
                  class="error"
                >
                  <svg
                    class="w-5 text-red-500 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {{ errorMessages?.passwordMismatch }}
                </p>
              </div>
            </div>
          </form>
          <!--
          <app-user-confirmation
            *ngIf="signedUp"
            [email]="signupForm.get('email')?.value"
          ></app-user-confirmation> -->
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1 rounded-l-3xl">
    <img
      class="absolute -z-10 inset-0 h-full w-full object-cover rounded-l-3xl"
      src="/assets/images/company-signup-1.jpg"
      alt="Image of wall art that says Aim High Fly Higher; Photo by  James Healy on Unsplash"
    />
  </div>
</div>
<ng-container *ngIf="!signedUp">
  <!-- <app-company-plan-options [formControl]="planCtrl"></app-company-plan-options> -->
  <div class="flex justify-center w-full">
    <button
      type="submit"
      (click)="signup()"
      class="shrink-0 rounded-md bg-blue-600 px-6 py-4 text-center text-xl font-semibold text-white shadow-sm hover:bg-blue-500 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
    >
      Sign Up Now
    </button>
  </div>
  <div class="mt-10 flex flex-wrap justify-center items-center border-t border-gray-900/10 pt-8 col-span-full">
    <p class="text-center text-sm text-gray-600 w-full">
      Already have an account?
      <button
        type="button"
        class="font-medium text-blue-600 hover:text-blue-500"
        routerLink="/sign-in"
      >
        Sign In
      </button>
    </p>
  </div>
</ng-container>
