<div class="flex flex-col flex-nowrap items-center w-full">
  <div class="max-w-screen-lg">
    <div class="flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col py-5 flex-1">
        <div class="flex flex-wrap justify-between items-center gap-3 p-4">
          <div class="flex min-w-72 flex-col gap-3">
            <p class="text-[#0e161b] tracking-light text-[32px] font-bold leading-tight">{{ request()?.jobTitle }}</p>
            <p class="text-[#507a95] text-sm font-normal leading-normal">
              {{ request()?.employmentType }} {{ request()?.employmentType ? '/' : '' }} {{ request()?.location }}
            </p>
          </div>
          <div
            class="rounded-full border py-1 px-4 text-lg font-semibold"
            [ngClass]="statusClasses()"
          >
            {{ request()?.status | uppercase }}
          </div>
        </div>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Request Title</h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">{{ request()?.title }}</p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
          Job Description
        </h3>
        <p
          class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4"
          [innerHTML]="request()?.description"
        ></p>
        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Job Location</h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">{{ request()?.location }}</p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Salary Range</h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">{{ request()?.salary }}</p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
          Employment Type
        </h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">
          {{ request()?.employmentType }}
        </p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
          Start Time Frame
        </h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">
          {{ request()?.startTimeFrame }}
        </p>
      </div>
    </div>

    <div class="flex flex-row flex-wrap justify-start grow">
      <div class="text-lg font-semibold mt-4 p-2 text-blue-700 w-full">Request Sent to Candidate(s):</div>
      <div class="flex flex-row flex-nowrap justify-center">
        <app-candidate-list-item
          [candidate]="candidate()"
          [showConnect]="false"
          class="border border-blue-600 rounded-lg w-auto"
        ></app-candidate-list-item>
      </div>
    </div>

    @if (request()?.status === 'Accepted') {
      <app-connected-candidate-card [candidate]="candidate()"></app-connected-candidate-card>
    }
  </div>
</div>
