<div class="flex flex-col flex-nowrap items-center w-full">
  <mat-card class="p-4 mb-4 !bg-white max-w-screen-lg">
    <div class="flex flex-1 justify-center">
      <div class="layout-content-container flex flex-col py-5 flex-1">
        <div class="flex flex-wrap justify-between items-center gap-3 p-4">
          <div class="flex min-w-72 flex-col gap-1">
            <p class="text-[#0e161b] tracking-light text-[32px] font-bold leading-tight">{{ request()?.jobTitle }}</p>
            <p class="text-[#507a95] font-normal leading-normal">Request Sent: {{ request()?.createdAt | date }}</p>
          </div>
          <div
            class="flex items-center rounded-full border py-1 px-4 text-base font-semibold w-auto"
            [ngClass]="statusClasses()"
          >
            <mat-icon class="mr-2">{{ statusIcon() }}</mat-icon>
            <div class="uppercase">{{ request()?.status }}</div>
          </div>
        </div>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Request Title</h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">{{ request()?.title }}</p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
          Job Description
        </h3>
        <p
          class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4"
          [innerHTML]="request()?.description"
        ></p>
        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Location</h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">{{ request()?.location }}</p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Salary</h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">{{ request()?.salary }}</p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
          Employment Type
        </h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">
          {{ request()?.employmentType }}
        </p>

        <h3 class="text-[#0e161b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
          Start Time Frame
        </h3>
        <p class="text-[#0e161b] text-base font-normal leading-normal pb-3 pt-1 px-4">
          {{ request()?.startTimeFrame }}
        </p>
      </div>
    </div>
  </mat-card>

  @if (isAccepted()) {
    <app-connected-candidate-card
      [candidate]="candidate()"
      class="my-6"
    ></app-connected-candidate-card>
  } @else {
    <mat-card class="my-6 !bg-white">
      <mat-card-header class="text-blue-600 font-semibold">Requested Candidate</mat-card-header>
      <app-candidate-list-item
        [candidate]="candidate()"
        [showConnect]="false"
      ></app-candidate-list-item>
    </mat-card>
  }
</div>
