<div class="c13 doc-content mx-auto h-full overflow-auto max-w-5xl">
  <p class="c17"><span class="c8 c15">PRIVACY POLICY</span></p>
  <p class="c7 c2"><span class="c5"></span></p>
  <p class="c7 c2"><span class="c5"></span></p>
  <p class="c7">
    <span class="c8">Effective Date:</span>
    <span class="c4 c0">11/01/2023</span>
  </p>
  <p class="c7 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">Here at</span>
    <span class="c0">Certifynd</span>
    <span class="c0">
      &nbsp;(&ldquo;we&rdquo;, &ldquo;us,&rdquo; &ldquo;our&rdquo;), we recognize that when you use
    </span>
    <span class="c0">Certifynd</span>
    <span class="c0">
      &nbsp;services, you trust us with your information. We are committed to ensuring that your privacy is secured,
      consistent with the guidelines set forth in United States of America
    </span>
    <span class="c0">Federal law</span>
    <span class="c4 c0">
      . We understand that your information is important to you as it is important for us. This Privacy Policy helps you
      in understanding what information we collect and explains why we collect information that you share with us and to
      what extent we make use of such information.
    </span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1"><span class="c11 c8">INFORMATION WE COLLECT</span></p>
  <p class="c1 c2"><span class="c0 c11"></span></p>
  <p class="c1"><span class="c4 c0">We may collect the following types of information:</span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <ul class="c9 lst-kix_u5nvpv1omgtg-0 start">
    <li class="c1 c3 li-bullet-0"><span class="c0">Name</span></li>
    <li class="c1 c3 li-bullet-0"><span class="c0">Email</span></li>
    <li class="c1 c3 li-bullet-0"><span class="c0">Phone Number</span></li>
    <li class="c1 c3 li-bullet-0"><span class="c0">Address</span></li>
    <li class="c1 c3 li-bullet-0"><span class="c0">Applicable Certification Number(s)</span></li>
  </ul>
  <p class="c1 c10 c2"><span class="c4 c6"></span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1"><span class="c11 c8">HOW WE USE INFORMATION WE COLLECT</span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c4 c0">
      Collecting the information that you share with us helps us analyze and personalize your choices, thereby providing
      you with better products and services. Specifically, we may use this data for the following:
    </span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <ul class="c9 lst-kix_lnzpva75arbj-0 start">
    <li class="c1 c3 li-bullet-0"><span class="c0">Our internal data records</span></li>
    <li class="c1 c3 li-bullet-0">
      <span class="c0">Improve our products and services Identification purposes</span>
    </li>
    <li class="c1 c3 li-bullet-0"><span class="c0">To contact you in response to enquiry and/or concerns</span></li>
    <li class="c1 c3 li-bullet-0">
      <span class="c0">
        Send you promotional emails about our products and services, latest offers and other things that we consider
        might be relevant to you
      </span>
    </li>
    <li class="c1 c3 li-bullet-0">
      <span class="c0">Contact information for market research purposes (with your consent)</span>
    </li>
  </ul>
  <p class="c1 c2 c10"><span class="c4 c6"></span></p>
  <p class="c1 c2"><span class="c11 c0"></span></p>
  <p class="c1 c2"><span class="c11 c0"></span></p>
  <p class="c1">
    <span class="c8 c14">CONTROLLING YOUR PERSONAL INFORMATION</span>
    <span class="c4 c8">&nbsp;</span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c4 c0">
      Should you opt to limit the collection or use of the information you share with us, you can always do so in the
      following ways:
    </span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <ul class="c9 lst-kix_i73dg3pql3s7-0 start">
    <li class="c1 c3 li-bullet-0">
      <span class="c0">
        If you checked &ldquo;Yes&rdquo; in the box wherein you agreed to use your information for direct marketing
        purposes, you can always reverse this by unchecking this box at any time. If you have further questions and
        concerns regarding this matter, you may contact us at
      </span>
      <span class="c0">+1 (757) 972-2737</span>
      <span class="c0">&nbsp;via email at</span>
      <span class="c0">info&#64;certifynd.com</span>
      <span class="c0">&nbsp;or send us a snail mail at</span>
      <span class="c0">1012 Fallhaven Ct. Chesapeake, VA 23320</span>
      <span class="c0">.</span>
    </li>
  </ul>
  <p class="c1 c10 c2"><span class="c4 c6"></span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">
      We will never lease, distribute, rent or sell your personal information to third parties unless we have your
      permission or are mandated by &nbsp;all applicable Federal
    </span>
    <span class="c0">laws within the United States of America</span>
    <span class="c4 c0">.</span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">
      Any personal information that we have about you is stored and processed under our DATA PROTECTION POLICY/ SECURITY
      POLICY in accordance with all relevant Federal laws within the United States of America dating to
    </span>
    <span class="c0">2023.</span>
    <span class="c4 c0">&nbsp;</span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">
      Should you believe that there are discrepancies on any information we have on you, you may contact us via email at
    </span>
    <span class="c0">info&#64;certifynd.com</span>
    <span class="c4 c0">.</span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">
      You may request details about your personal information. A small fee may be payable. If you would like to request
      a copy of your personal information, you can write to us at
    </span>
    <span class="c0">info&#64;certifynd.com</span>
    <span class="c0">or via post at</span>
    <span class="c0">1012 Fallhaven Ct. Chesapeake, VA 23320</span>
    <span class="c4 c0">.</span>
  </p>
  <p class="c1"><span class="c4 c0">&nbsp;</span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1"><span class="c11 c8">INFORMATION SECURITY</span></p>
  <p
    class="c1 c2"
    id="h.gjdgxs"
  >
    <span class="c4 c0"></span>
  </p>
  <p class="c1">
    <span class="c0">
      To prevent unauthorized access or disclosure, we have put in place physical electronic procedures to safeguard and
      secure the information that we collect from you compliant with
    </span>
    <span class="c0">[LAW/ACT 3]</span>
    <span class="c4 c0">.</span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1 c2"><span class="c0 c4"></span></p>
  <p class="c1"><span class="c11 c8">HOW TO CONTACT US</span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">We at</span>
    <span class="c0">Certifynd</span>
    <span class="c0">
      &nbsp;believe in open communication. If you have any questions and/or clarifications about this Privacy Policy,
      please send us an email at
    </span>
    <span class="c0">info&#64;certifynd.com</span>
    <span class="c4 c0">.</span>
  </p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1"><span class="c11 c8">CHANGES TO OUR PRIVACY POLICY</span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c0">Certifynd</span>
    <span class="c4 c0">
      &nbsp;may modify or update our Privacy Policy from time to time. Please feel free to review it every once in a
      while. Should you fail to do so, we can provide you notice of modifications or updates as soon as we can.
    </span>
  </p>
  <p class="c1 c2"><span class="c8 c12"></span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1"><span class="c11 c8">REQUESTING DATA DELETION</span></p>
  <p class="c1 c2"><span class="c4 c0"></span></p>
  <p class="c1">
    <span class="c4 c0">
      If you would like to have all data collected by Certifynd that is associated with your account, activity, & login
      providers for the time being please send an email to info&#64;certifynd.com. An automated form to delete and your
      account and remove all related data will be available in the future.
    </span>
  </p>
</div>
