<!-- Hero section -->
<app-hero
  title="Access ABA professionals with ease and confidence"
  description="CertifyndABA provides a secure and reliable platform connecting you with qualified ABA professionals who have clearly articulated their interests.  From BCBA’s to RBT’s to professionals who want to enter the space, our platform allows you to select who you choose to connect with to setup an interview.  The professionals on our platform are active and passive hence we protect their confidentiality until they receive a connect request from you that resonates with them.  Once you receive a accepted request, you can ensure their credentials have been validated and they are aligned to your needs.  This will allow you to immediately schedule a meeting to gage for a match.  Our process will ensure professional matches in an efficient manner."
  buttonLink="/company/sign-up"
  buttonText="Ready to Learn More?"
></app-hero>

<!-- Feature Section -->
<app-features
  title="Recruitment Management"
  subtitle="Find the right people faster"
  description="Discover the Certifynd advantage in streamlining your recruitment process. Our platform offers a range of features specifically designed to help you connect with top-tier professionals quickly and effectively. Experience the benefits of seamless access, rigorous verification, and unparalleled efficiency in your search for the perfect candidate."
  imageUrl="/assets/images/iphone-alert-1.png"
  [features]="features"
></app-features>

<app-company-preregister [showLogo]="false"></app-company-preregister>
