<div class="flex flex-row items-start justify-center pt-8 px-6 lg:px-0 h-full max-h-full overflow-y-auto">
  <form
    class="relative max-w-full lg:max-w-screen-md"
    [formGroup]="profileForm"
    (ngSubmit)="submit()"
  >
    <div class="space-y-12">
      @switch (profile()?.status) {
        @case ('unverified') {
          @if (profile()?.experienceLevel) {
            <div class="w-full text-center bg-blue-50 border border-blue-600 text-blue-600 rounded-md p-4 mt-4">
              <div class="text-lg font-semibold mt-2 mb-4">
                Your profile is awaiting verification, and should be verified in the next 24 hours!
              </div>
              To ensure the best experience for our users, we manually verify the credentials of all accredited
              therapists on CertifyndABA. In the meantime time, completely fill out your profile so you can be best
              matched with new opportunities!
            </div>
          } @else {
            <div class="w-full text-center bg-blue-50 border border-blue-600 text-blue-600 rounded-md p-4 mt-4">
              <div class="text-lg font-semibold mt-2 mb-4">
                Welcome to Your Certifynd
                <span class="text-purple-700 -ml-1.5">ABA</span>
                Profile!
              </div>
              <p>
                To ensure the best experience, Please completely fill out your profile. Fully completing you profile
                will ensure you get more requests that align with your experience & interests.
              </p>

              <div class="flex flex-row flex-wrap mt-4 mb-2">
                <span class="w-full text-center text-purple-700 font-bold">REMEMBER:</span>
                <span class="text-sm text-center text-purple-700">
                  Your personal information will NEVER be shared with any potential employer without your consent (via
                  accepting a direct connection request)
                </span>
              </div>
            </div>
          }
        }
        @case ('rejected') {
          <div class="w-full text-center bg-red-50 border border-red-600 text-red-600 rounded-md p-4 mt-4">
            <div class="text-lg font-semibold mt-2 mb-4">
              Your credential verification has been rejected for the following reason:
            </div>
            {{ profile()?.rejectionReason }}
            Please update your credential information according to the details provided. Once your credential
            information is updated and saved, your profile will be automatically resubmitted for verification!
          </div>
        }
      }

      <div class="pb-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          @for (inputGroup of inputGroups(); track inputGroup.id) {
            <div class="col-span-full w-full max-w-4xl p-16 border border-primary rounded-xl">
              <div class="mb-6">
                <div class="flex justify-between mb-2">
                  <div class="flex items-center">
                    @if (inputGroup?.icon) {
                      <mat-icon
                        color="primary"
                        class="mr-4"
                      >
                        {{ inputGroup.icon }}
                      </mat-icon>
                    }
                    <h2 class="text-2xl text-primary">{{ inputGroup?.title }}</h2>
                  </div>
                </div>

                <p class="font-light text-sm text-gray-600 ml-4 mb-4">{{ inputGroup.description }}</p>
                <hr class="border-primary" />
              </div>

              @if (inputGroup?.isOpen) {
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  @for (config of inputGroup?.inputs; track $index) {
                    @if (!config?.conditional || config?.conditional(profileForm.value)) {
                      @switch (config.template) {
                        @case ('certification-number') {
                          @if (isCertified()) {
                            <div class="sm:col-span-5 flex flex-row flex-nowrap items-center justify-between">
                              <app-certification-number-input
                                formControlName="certificationNumber"
                                [type]="profileForm.get('experienceLevel')?.value"
                              ></app-certification-number-input>

                              @if (profile()?.status === 'verified') {
                                <div class="border border-green-600 bg-green-50 p-2 text-green-600 rounded-lg text-sm">
                                  VERIFIED
                                </div>
                              }
                            </div>
                          }
                        }

                        @case ('location-search') {
                          <app-location-search
                            [ngClass]="config.class"
                            [formControlName]="config.formControlName"
                            [inputConfig]="config"
                            (latLng)="setLatLng($event)"
                          ></app-location-search>
                        }

                        @case ('multi-checkbox') {
                          <app-multi-checkbox
                            [options]="config?.options ?? []"
                            [name]="config.name"
                            [label]="config.label"
                            [formControlName]="config.formControlName"
                          ></app-multi-checkbox>
                        }

                        @default {
                          <app-input
                            [formControlName]="config.formControlName"
                            [ngClass]="config.class"
                            [inputConfig]="config"
                          ></app-input>
                        }
                      }
                    }
                  }
                  @if (inputGroup.name === 'experience-profile' && profile()?.status === 'verified') {
                    <div class="col-span-full my-2 w-full">
                      <div class="font-medium text-blue-600 mb-2">How your profile appears in search results:</div>
                      <div class="border border-blue-600 rounded-lg w-full overflow-x-auto">
                        <app-candidate-list-item
                          [candidate]="profileForm.value"
                          [showConnect]="false"
                          class="w-full"
                        ></app-candidate-list-item>
                      </div>
                    </div>
                  }
                </div>
              }
              <div class="flex flex-row items-center justify-end mt-6">
                <button
                  mat-mini-fab
                  class="sm:col-start-4 sm:col-span-2"
                  color="primary"
                  role="button"
                  type="button"
                  (click)="toggleInputGroup($index)"
                >
                  <mat-icon>{{ inputGroup?.isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
                </button>
              </div>
            </div>
          }

          <div class="col-span-full">
            <label
              for="photo"
              class="block text-sm font-medium leading-6 text-gray-900"
            >
              Photo
            </label>
            <div class="mt-2 flex items-center gap-x-3">
              <svg
                class="h-12 w-12 text-gray-300"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <button
                type="button"
                class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                Change
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="sticky bottom-0 bg-[#fafafa] border-t border-gray-900/10 p-4 pb-14 lg:pb-4 flex items-center justify-end gap-x-6 w-full"
    >
      <button mat-button>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!profileChanged()"
      >
        Save
      </button>
    </div>
  </form>
</div>
