<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
      <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-indigo-600">{{ title }}</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ subtitle }}</p>
          <p class="mt-6 text-base leading-6 text-gray-600">{{ description }}</p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            <div
              class="relative pl-9"
              *ngFor="let feature of features"
            >
              <mat-icon
                class="absolute top-1 left-1"
                color="primary"
              >
                {{ feature.icon }}
              </mat-icon>
              <dt class="inline font-semibold text-gray-900">
                {{ feature.title }}
              </dt>
              <dd class="inline">{{ feature.text }}</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="sm:px-6 lg:px-0">
        <div
          class="relative isolate max-h-[750px] overflow-hidden bg-indigo-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none"
        >
          <div
            class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white"
            aria-hidden="true"
          ></div>
          <div class="mx-auto sm:mx-0 sm:max-w-none max-w-screen-xl max-h-none lg:-ml-16">
            <img
              src="{{ imageUrl }}"
              width="100%"
              alt="Product screenshot"
              class="object-fill rounded-tl-xl w-full h-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
