<mat-toolbar class="flex flex-row flex-nowrap justify-center items-center !bg-transparent h-20">
  <div class="flex flex-row flex-nowrap justify-between items-center w-full">
    <div class="flex flex-row flex-nowrap justify-between lg:justify-start items-center w-full grow">
      <button
        *ngIf="layoutSvc.isMobile$ | async"
        mat-icon-button
        class="mr-2"
        (click)="toggleSideNav.emit()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div
        class="flex flex-row flex-nowrap items-center cursor-pointer"
        routerLink="/"
      >
        <h1 class="mt-16 mb-24 text-center !text-4xl font-medium tracking-tight text-blue-600">
          Certifynd
          <span class="text-purple-700 -ml-[13.5px]">ABA</span>
        </h1>
      </div>
    </div>

    <div class="flex-none hidden md:flex md:flex-row md:justify-end md:items-center gap-4">
      @for (link of navLinks(); track link.id) {
        @if (!link?.childLinks?.length) {
          <button
            mat-button
            class="text-lg"
            aria-label=""
            [routerLink]="[link.link]"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive
            #rla="routerLinkActive"
            [ngClass]="
              rla.isActive
                ? '!text-purple-700 font-semibold decoration-2 underline decoration-purple-700 underline-offset-8'
                : '!text-indigo-600'
            "
          >
            {{ link.label }}
          </button>
        } @else {
          <app-nav-menu-link [link]="link"></app-nav-menu-link>
        }

        <mat-divider
          [vertical]="true"
          class="h-8 !border-r-2"
        ></mat-divider>
      }

      @if (authStore.isLoggedIn()) {
        <img
          class="h-10 w-10 rounded-full cursor-pointer"
          [routerLink]="['/app/candidate/profile']"
          [matTooltip]="authStore.userProfile()?.email ?? ''"
          height="40"
          [src]="'https://api.dicebear.com/6.x/shapes/svg?seed=' + authStore.userId()"
          alt="avatar"
        />
        <button
          mat-button
          class="!text-indigo-600 text-lg"
          (click)="signOut()"
        >
          Sign Out
        </button>
      } @else {
        <button
          mat-button
          class="text-lg"
          aria-label=""
          routerLink="/sign-in"
        >
          Sign In
        </button>
      }
    </div>
  </div>
</mat-toolbar>
