<div class="flex flex-row items-start justify-center pt-8 px-6 lg:px-0 h-full max-h-full overflow-y-auto">
  <form
    class="relative max-w-full lg:max-w-screen-md"
    [formGroup]="profileForm"
    (ngSubmit)="submit()"
  >
  <div class="space-y-12">
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <example-tel-input formControlName="tel" required></example-tel-input>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Include area code</mat-hint>
    </mat-form-field>
  </div>

</div>
