<!-- Hero section -->
<app-hero
  title="Exclusive Community For ABA Professionals"
  [description]="description"
  buttonText="Ready to Sign Up?"
  (buttonClick)="signup()"
></app-hero>

<app-steps></app-steps>

<!-- Feature Section -->
<app-features
  title="Career Management"
  subtitle="A better way forward"
  description="Our platform combines innovative technology with a deep understanding of industry needs to provide a seamless, user-centric experience tailored to the unique demands of each professional. By prioritizing privacy, transparency, and control, we empower individuals to take charge of their career paths and make informed decisions that align with their goals and aspirations."
  imageUrl="/assets/images/iphone-alert-1.png"
  [features]="features"
></app-features>
