<!-- Hero section -->
<app-hero
  title="Exclusive community for ABA professionals"
  description="We are building this community exclusively for professionals who are passionate about Applied Behavioral Analysis.  The origin of this site is focused in and around connecting professionals.  This is done through a confidential platform using your pre-established parameters ensuring that there is a proper match to your criteria.  Employers will send a connection request with all of their information (company name, locations, roles, compensation, etc.) allowing you to discern whether to accept or reject their connection request.  Ultimately, they will not know who you are until you accept their request hence leaving you in full control. "
  buttonText="Ready to Sign Up?"
></app-hero>

<!-- Feature Section -->
<app-features
  title="Career Management"
  subtitle="A better way forward"
  description="Our platform combines innovative technology with a deep understanding of industry needs to provide a seamless, user-centric experience tailored to the unique demands of each professional. By prioritizing privacy, transparency, and control, we empower individuals to take charge of their career paths and make informed decisions that align with their goals and aspirations."
  imageUrl="/assets/images/iphone-alert-1.png"
  [features]="features"
></app-features>
