<footer class="mx-auto mt-24 max-w-7xl overflow-hidden px-6 pb-8 sm:mt-32 lg:px-8">
  <div class="mb-8">
    <div class="flex flex-row flex-wrap justify-center items-center w-full">
      <div class="w-full text-center text-semibold mb-2">
        <span>Follow us:</span>
      </div>

      <div class="flex flex-row flex-nowrap justify-center items-center gap-4 w-full">
        <a
          href="https://facebook.com/certifyndaba"
          target="_blank"
          class="p-2 border border-slate-300 rounded-md inline-flex w-12 h-12 hover:bg-indigo-50 hover:border-indigo-300"
          data-network="facebook"
        >
          <img
            width="36"
            height="36"
            alt="facebook-white sharing button"
            src="/assets/icons/facebook-white.svg"
          />
        </a>
        <a
          href="https://instagram.com/certifyndaba"
          target="_blank"
          class="p-2 border border-slate-300 rounded-md inline-flex w-12 h-12 hover:bg-indigo-50 hover:border-indigo-300"
          data-network="instagram"
        >
          <img
            width="36"
            height="36"
            alt="instagram-white sharing button"
            src="/assets/icons/instagram-white.svg"
          />
        </a>
        <a
          href="https://linkedin.com/company/certifyndaba"
          target="_blank"
          class="p-2 border border-slate-300 rounded-md inline-flex w-12 h-12 hover:bg-indigo-50 hover:border-indigo-300"
          data-network="linkedin"
        >
          <img
            width="36"
            height="36"
            alt="linkedin-white sharing button"
            src="/assets/icons/linkedin-white.svg"
          />
        </a>
      </div>
    </div>
  </div>

  <nav
    class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
    aria-label="Footer"
  >
    <div class="pb-6">
      <a
        routerLink="/"
        class="text-sm leading-6 text-gray-600 hover:text-gray-900"
      >
        About
      </a>
    </div>
    <div class="pb-6">
      <a
        routerLink="/contact"
        class="text-sm leading-6 text-gray-600 hover:text-gray-900"
      >
        Contact
      </a>
    </div>

    <div class="pb-6">
      <a
        routerLink="/individuals"
        class="text-sm leading-6 text-gray-600 hover:text-gray-900"
      >
        Individuals
      </a>
    </div>

    <div class="pb-6">
      <a
        routerLink="/employers"
        class="text-sm leading-6 text-gray-600 hover:text-gray-900"
      >
        Employers
      </a>
    </div>

    <div class="pb-6">
      <a
        routerLink="/legal/terms-of-service"
        class="text-sm leading-6 text-gray-600 hover:text-gray-900"
      >
        Terms of Service
      </a>
    </div>
    <div class="pb-6">
      <a
        routerLink="/legal/privacy-policy"
        class="text-sm leading-6 text-gray-600 hover:text-gray-900"
      >
        Privacy Policy
      </a>
    </div>
  </nav>

  <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; 2023 Certifynd, Inc. All rights reserved.</p>
</footer>
