<div class="flex flex-col flex-nowrap h-full max-h-full overflow-hidden overflow-y-auto">
  <div class="h-fit mx-auto px-4 sm:px-6 lg:px-8 w-full flex flex-row flex-wrap items-center my-4">
    <h1 class="text-2xl font-semibold leading-tight tracking-tight text-purple-700 w-full shrink py-8 pr-8">
      Hello {{ authStore.userProfile()?.firstName ?? authStore.authUser()?.displayName }}
    </h1>

    @if (showMessage()) {
      <div
        @showHideVertical
        class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 w-full max-w-5xl"
        role="alert"
      >
        <div class="flex flex-row flex-nowrap items-center justify-between w-full">
          <p class="flex flex-row flex-wrap font-bold">
            <span class="w-full md:w-auto">Welcome to CertifyndABA</span>
            <span class="text-purple-700 w-full text-xs md:text-base md:w-auto ml-1">— We're so glad you're here!</span>
          </p>
          <button
            mat-icon-button
            class="!p-0"
            (click)="closeWelcomeMessage()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <p class="text-blue-700 text-sm">
          As we continuously welcome new ABA professionals, like yourself, we have also begun onboarding select
          employers to start sending requests. We encourage you to share CertifyndABA with your colleagues and connect
          with us on social media. Are goal is to put you in control of your career letting employers compete for you,
          and ensuring you always know how in demand you are in your field!
        </p>
        <p class="text-purple-700 text-sm mt-4">
          As always, We are committed to protecting your privacy as well as your time. We aim to be transparent in our
          approach & welcome any and all feedback from you.
          <span class="font-semibold">
            CertifyndABA is here to serve the you, and the ABA community as a whole, help us make this a great
            community!
          </span>
        </p>
      </div>
    }
  </div>
  <div class="mx-auto max-w-[1750px] px-4 sm:px-6 lg:px-8 relative pb-12">
    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
      <!-- Left column -->
      <div class="grid grid-cols-1 lg:col-span-2 rounded-lg bg-white shadow h-full">
        <router-outlet></router-outlet>
      </div>

      <!-- Right column -->
      <div
        @showHideHorizontal
        class="grid grid-cols-1 h-[650px] rounded-lg bg-white shadow"
      >
        <router-outlet name="right"></router-outlet>
      </div>
    </div>
  </div>
</div>
