@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/tippy.js/dist/tippy.css';
@import 'node_modules/tippy.js/themes/light.css';
@import 'node_modules/tippy.js/animations/scale.css';

$light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-violet-palette
  ),
  density: (
    scale: -1
  )
));

// $dark-theme: matx.define-theme((
//   color: (
//     theme-type: dark,
//     primary: matx.$m3-cyan-palette,
//     tertiary: matx.$m3-rose-palette
//   ),
//   typography: (
//     brand-family: 'Comic Sans',
//     bold-weight: 900
//   ),
//   density: (
//     scale: -1
//   )
// ));

// .dark-theme {
//   @include mat.all-component-themes($dark-theme);
// }

.light-theme {
  @include mat.all-component-themes($light-theme);
}

body, html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: white;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Fix for share buttons */
#st-2 .st-btn {
  display: inline-flex !important;

  .st-label {
    margin-left: 1rem;
  }
}
