@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/tippy.js/dist/tippy.css';
@import 'node_modules/tippy.js/themes/light.css';
@import 'node_modules/tippy.js/animations/scale.css';

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$violet-palette
  ),
  density: (
    scale: -1
  )
));

// $dark-theme: matx.define-theme((
//   color: (
//     theme-type: dark,
//     primary: matx.$m3-cyan-palette,
//     tertiary: matx.$m3-rose-palette
//   ),
//   typography: (
//     brand-family: 'Comic Sans',
//     bold-weight: 900
//   ),
//   density: (
//     scale: -1
//   )
// ));

// .dark-theme {
//   @include mat.all-component-themes($dark-theme);
// }

.light-theme {
  @include mat.all-component-themes($light-theme);
}

body, html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: white;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Fix for share buttons */
#st-2 .st-btn {
  display: inline-flex !important;

  .st-label {
    margin-left: 1rem;
  }
}


/**
  Tailwind preflight sets border-style: solid for all elements.
  https://tailwindcss.com/docs/preflight#border-styles-are-reset-globally
  Material 15 fix
*/


.mdc-notched-outline__notch {
  border-right: none;
}

.mdc-text-field__input, textarea:focus {
  box-shadow: none;
}

.hot-toast-close-btn {
  background-color: var(--hot-toast-close-btn-background-color, transparent) !important;
  background-image: var(--hot-toast-close-btn-background-image, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")) !important;
}
