<!-- Hero section -->
<app-hero
  [title]="'We’re changing the way ABA Professionals connect with opportunity.'"
  description="A medium for you to be aware of all opportunities while remaining confidential."
></app-hero>

<!-- Feature Section -->
<app-features
  title="Career Management"
  subtitle="A better way forward"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione."
  imageUrl="/assets/images/iphone-alert-1.png"
  [features]="features"
></app-features>

<!-- Content section -->
<app-misson></app-misson>

<!-- Image section -->
<div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
  <img
    src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
    alt=""
    class="aspect-[5/2] w-full object-cover xl:rounded-3xl"
  />
</div>

<!-- Values section -->
<app-ourvalues></app-ourvalues>
